@media screen and (max-width: 992px) {
    .container-welcome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        padding-top: 130px;
    }
    .section-about-info{
        padding-top: 20px;
        margin-left: 0; 
        max-width: 540px; 
        text-align: center; 
        padding-left: 0;
    }
    button{
        margin-top: 20px;
        min-width: 200px;
        min-height: 55px;
    }
}
@media screen and (max-width: 768px) {
    .container-header{
        padding-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar ul{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 576px) {
    .section-about-info p{
        margin-top: 60px;
        min-width: 200px;
        font-size: 16px;
        line-height: 26px;
    }
}