@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1105px;
    margin: 0 auto;
}
.container-header{
    margin-top: 57px;
    margin-bottom: 144px;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
}
nav ul a{
    text-decoration: none;
    list-style: none;
    margin-left: 42px;
    font-size: 16px;
    line-height: 26px;
    color: black;
}
.nav__link{
    color: #34547A;
}
.container-welcome{
    display: flex;
    align-items: center;
}
.section-about__image img{
    max-width: 384.13px;
    max-height: 234px;
}
.section__title{
    font-size: 48px;
    font-weight: 500;
    line-height: 79px;
}
.section-about-info{
    margin-left: 140px;
}
.section-about-info p{
    font-size: 16px;
    color: #727272;
    margin: 60px 0;
    line-height: 26px;
    max-width: 580.73px;
}
button{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    min-width: 241.85px;
    min-height: 65px;
    color: white;
    background-color: #34547A;
    border: outset #34547A;
}

